@import "../../../App.scss";
.about{
   width: 1366px;
   height: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #E4F1FF;
   padding-bottom: 100px;
   @include desktop{
      width: 100%;
      padding: 10px;
   }
   &__wrapper{
      display: flex;
      flex-direction: column;
      gap: 30px;
      .about__title{
         display: flex;
         align-items: center;
         justify-content: center;
         max-width: 100%;
         img{
            height: 200px;
            @include mobile{
               height: 150px;
               width: 100%;
               padding: 10px;
            }
         }
      }
      .about__subtitle{
         padding: 20px 0;
         text-align: center;
         margin: auto;
         width: 80%;
      }
      a{
         text-decoration: underline;
         padding: 20px;
         margin: auto;
         text-align: center;
         width: 300px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 22px;
         font-weight: 300;
      }
   }
}