.legal{
   width: 100%;
   background-color: #E4F1FF;
   &__wrapper{
      width: 1366px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .legal__title{
         margin: 50px 0;
         font-size: 50px;
      }
      .legal__list{
         width: 100%;
         display: flex;
         flex-direction: column;
         gap: 20px;
         .item{
            position: relative;
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            background-color: white;
            padding: 20px;
            &__info{
               display: flex;
               flex-direction: column;
               gap: 30px;
               .item__title{
                  font-size: 33px;
                  margin-left: 40px;
               }
               .item__text{
                  font-size: 25px;
               }
            }
            &__prices{
               display: flex;
               flex-direction: column;
               justify-content: space-around;
               align-items: center;
               gap: 20px;
               .item__time{
                  position: absolute;
                  padding: 10px;
                  bottom: 0;
                  right: 0;
                  color: gray;
               }
               .item__price{
                  color: purple;
                  font-weight: bold;
                  font-size: 40px;
               }
            }
         }
      }
   }
}